extends ./layouts/default

block content
    .jumbotron
        h2.text-center 欢迎使用后台管理系统
        .alert.alert-success
            ol
                li 导航的天猫链接和京东链接，在网站配置里面设置。标识是[tmall_url]和[jd_url]。
                li HG、RG、seed或者00这些栏目要到【栏目管理】里面，自行添加。添加时，在【牌子】和【系列】点击【添加子栏目】
                li 文章添加时，如果该文章是商品，在选项【是否为商品】选上‘是’。选项【是否线上商品】同理.
                li 文章添加时，请记得在选项【发售日期/发布日期】添加数据
                li 文章添加时，如果是展会或者活动，请记得在选项【展会/活动 开始日期】和 【展会/活动 结束日期】添加数据
                li
                    | 如果商品发售具体日期未定，【是否发售日期待定】选项选择‘是’，【发售日期/发布日期】选项填写
                    b.text-danger 将要发售月份的任意一天。
