a:active
a:hover
a:link
a:visited
    text-decoration none
body
    background-color: #eee
.bg
    background-image url('../images/bg.jpg')
    background-size cover
    background-repeat no-repeat

.main
    margin-top 5%;

.login-box
    margin: 40px auto
    width 330px
    background-color rgba(0,0,0,0.4)
    padding 5px 15px 20px
    color #ffffff


.social-auth
    .iconfont
        font-size 30px

.admin
    &_article
        .thumbnail
            img
                max-height: 120px
