a:active
a:hover
a:link
a:visited
    text-decoration none
body
    background-color: #eee
.bg
    background-image url('../images/bg.jpg')
    background-size cover
    background-repeat no-repeat

.main
    margin-top 5%;

.login-box
    margin: 40px auto
    width 330px
    background-color rgba(0,0,0,0.4)
    padding 5px 15px 20px
    color #ffffff


.social-auth
    .iconfont
        font-size 30px

.admin
    &_article
        .thumbnail
            img
                max-height: 120px

#bhs_sub_navBox
    .bhs_sub_megamenu_open
        &#online_shop_menu
            margin: 0 auto;
            padding: 0 !important;
            position: absolute;
            right: -785px;
            width: 198px !important;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            .bhs_sub_header
                display: block;
                margin: 0;
                padding: 0;
                text-align: center;
                vertical-align: top;
                width: 100%;
            a
                color: #fff !important;
                display: block;
                height: 100%;
                margin: 0;
                padding: 0;
                position: relative;
                top: 0;
                left: 0;
                text-decoration: none !important;
                width: 100%;
                z-index: 10;
            span
                font-size: 14px;
                display: inline-block;
                line-height: 1.5;
                margin: 0 auto;
                padding: 10px 0;
                position: relative;
                vertical-align: middle;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                &::after
                    border-right: 2px solid #fff;
                    border-top: 2px solid #fff;
                    content: " ";
                    display: block;
                    height: 6px;
                    line-height: 0;
                    position: absolute;
                    top: 40% !important;
                    right: -15px;
                    transform: rotate(45deg) !important;
                    -webkit-transform: rotate(45deg) !important;
                    vertical-align: middle;
                    width: 6px;
                    visibility: inherit !important;
