.alert.alert-danger
    ol
        li
            | 请保证系统内的栏目，有别名为【GUNPLA】、【CHARACTER】、【EVENT】、【CAMPAIGN】、【GBWC】、【NEWS】的栏目
        li
            | 【GUNPLA】和【CHARACTER】这两个别名栏目下也必须有【brand】和【series】这两个别名栏目
