doctype strict
html(xmlns="http://www.w3.org/1999/xhtml", xml:lang="ja")
    head
        title #{title} | #{web_cfg.web_name.value}
        include ./head

        block head
    include ../base
    body
        include ./nav
        block nav
        #bhs_contents
            block custom_content
            #bhs_contentsWrap.clearfix
                block content

        block bhs_contents_nobg
        include ./foot
        include ./footjs
        block script
