#bhs_footer
    #bhs_footer_trans
        p
            | ※ This site is currently introducing machine translation. Please be aware that proper nouns and grammar may not be the correct translation, please acknowledge it beforehand.
            br
            | * This website is now introducing machine translation. Please understand in advance of using that translation may be incorrect in terms of proper nouns and grammar.
    #bhs_footer_cr_bd
        .bhs_footer_copy
            a(href="http://www.bandai.co.jp/")
                img(src="http://bandai-hobby.net/img/common/ft_logo.png", width="40", height="38", alt="BANDAI")
                span
                    | © BANDAI CO., LTD. 2014 ALL Rights Reserved.
                    br
                    | We will refuse all images, sentences, data etc. posted on this homepage without permission and reprint. Unauthorized use or reproduction of materials contained in this page is strictly prohibited.
    #bhs_footer_cr
        div(onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';")
            a(style="cursor:pointer;")
                div(style="text-align:center")
                    font(color="#ffffff") ▼ Display copyright light list
            br
        #open(style="display:none;clear:both;")
            .bhs_footer_copy
                p 版权
#btnPagetop
    a(href="#")
        img(src="http://bandai-hobby.net/img/common/bhs_pagetop.png", width="88", height="77", alt="PAGETOP")
