#bhs_footer
    #bhs_footer_cr_bd(style="padding-top:15px")
        .bhs_footer_copy
            a(href="/")
                img(src="/img/common/ft_logo.png", width="40", height="38", alt="BANDAI")
                span
                    | !{web_cfg.web_copyright.value}
    #bhs_footer_cr
        div(onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';")
            a(style="cursor:pointer;")
                div(style="text-align:center")
                    font(color="#ffffff") ▼ 显示版权列表
            br
        #open(style="display:none;clear:both;")
            .bhs_footer_copy
                p (C) Sunrise Project Sega Tokyu Corporation Electric Railway Co., Ltd. Commercialization licensed Enoshima Electric Railway Co., Ltd. Commercialization licensed Izukyu Corporation Electric Railway Co., Ltd. Commercialization licensed TM & (c) DC Comics (s05) Thunderbirds (c) WT Venture LLC. Thunderbirds is a trademark of ITC Entertainment Group, Ltd. Licensed by Universal Studios Licensing LLLP.All Rigths Reserved. ■ JR East Japan Product Permitted (R), TM, & (c) 2004 Paramount Pictures. All rights reserved. (R) (C) 2003 Paramount Pictures, All rights reserved. (C) Akiyoshi Hongo / Toei Animation / Fuji (Hong Kong) / (c) Paramount Pictures. All rights reserved. STAR TREK is a Trademark of Paramount Pictures. (C) Tohokushinsha (c) Tohokushinsha (c) Naoto Tsushima · Kodansha (C) Inquiries (C) Fuji TV · Toei Animation (C) Eiichiro Oda / 2016 "One Piece" Production Committee · Fields · Flying dog / ACTIVERAID PARTNERS (c) SATO (C) Sustainability · Sunrise (c) Inquiries · Sunrise · Mainichi Broadcasting (c) Inspiration · Sunrise · TV Tokyo (C) Inception · Sunrise · MBS (c) Inception · Sunrise / (c ) Congestion · Comic Bonbon (c) Inspiration · Sunrise (C) Kawahara Gravel / ASCII · Media Works (C) Send / Sunrise · Mainichi Broadcasting (c) Send / Sunrise / (c) BANDAI 2001 / AW Project (C) Ishimori Pro / Toei (c) Yoshizaki Kannon / Kadokawa Shoten - Sunrise - TV Tokyo - NAS (C) Kawamori Masaharu - Satellite / ALC / GP / Nobunaga - The Fool Production Committee (C) Tsuburaya SUNRISE / VVV Committee, MBS (C) SUNRISE / PROJECT G - AKITO Character (C) Bird Studio / Shueisha / Toei Animation (c) Dynamic Project (c) Sunrise (C) Color (C) Design (C) 2006-2011 CLAMP (C) SOTSU · SUNRISE (C) Pokémon (C) Nintendo · Creatures · GAME FREA K · TV Tokyo · ShoPro · JR Kikaku (c) NAMCO LIMITED (C) LMYWP 2014 (C) LEVEL - 5 Inc./ KOEI TECMO GAMES (C) L 5 / YWP · TX (C) L 5 / PDS · TX (C) L 5 (C) GAINAX · Color / EVA Production Committee (c) GAINAX · Color (C) / PDS · TX (c) HEADGEAR / EMOTION / TFC / Production IG (c) HEADGEAR / EMOTION / TFC / Project Eva. (C) GAINAX / Project Eva · TV Tokyo (C) Disney / Pixar (C) Disney (C) BNP / T & B MOVIE PARTNERS (C) BANDAI · Toei Animation · TV Tokyo (C) BANDAI (C) 2016 Project love Live! Sunshine! (C) 2015 Big Waist (C) 2015 Gullane (Thomas) Limited. (C) 2013 Pikachu Project (C) 2012 Space Battleship Yamato 2199 Production Committee (C) 2011 Big West / Theatrical Version Macross F Production Committee (C) 2005 Fuji TV KIDS (c) 2005 BONES / Project EUREKA (c) 2002 Nagahara Kanpei, Hayakawa Shobo / Bandai Visual · Victor Entertainment · GONZO (c) 2002 Paramount Pictures.All Rights Reserved. (C) 2001 Nagai Go / Dynamic Project · Photonics Laboratory (C) 1984 Big West (C) 1982 Big West (c) LMYWP 2015 (C) 2014 HEADGEAR / "THE NEXT GENERATION - PATLABOR -" Production Committee (C) 2009 Ishimori Pro · TV Asahi · ADK · Toei (C) & TM Lucasfilm Ltd.
#btnPagetop
    a(href="#")
        img(src="/img/common/bhs_pagetop.png", width="88", height="77", alt="PAGETOP")
