#bhs_footer
    #bhs_footer_cr_bd(style="padding-top:15px")
        .bhs_footer_copy
            a(href="/")
                img(src="/img/common/ft_logo.png", width="40", height="38", alt="BANDAI")
                span
                    | !{web_cfg.web_copyright.value}
    #bhs_footer_cr
        //- div(onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';")
        //-     a(style="cursor:pointer;")
        //-         div(style="text-align:center")
        //-             font(color="#ffffff") ▼ Display copyright light list
        //-     br
        //- #open(style="display:none;clear:both;")
        //-     .bhs_footer_copy
        //-         p 版权
#btnPagetop
    a(href="#")
        img(src="/img/common/bhs_pagetop.png", width="88", height="77", alt="PAGETOP")
