#bhs_header
    .bhs_headerWrap
        h1
            a(href="/")
                img(src="http://bandai-hobby.net/img/common/bhs_header_logo.png", width="380", height="50", alt="Bandai Hobby Site")
