.bhs_side_aside_bnr
    ul
        li
            a(href="/site/contact_hobbysitepass.html")
                img(src="/img/sidemenu/bhs_bnr_mlmg_255x66.jpg", width="255", height="64", alt="BANDAI HOBBYSITEPASS メールマガジン")
