.bhs_side_aside_bnr
    ul
        li
            a(href="/site/contact_hobbysitepass.html")
                img(src="/img/sidemenu/bhs_bnr_mlmg_255x66.jpg", width="255", height="64", alt="BANDAI HOBBYSITEPASS メールマガジン")

<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2042697783&verifier=bce5fd03&dpc=1"></iframe>
